<div id="bs4_sldr_cmrce"
        class="modal fade bs4_modal bs4_blue bs4_bg_white bs4_bd_black bs4_bd_semi_trnsp bs4_none_radius bs4_shadow_none bs4_center bs4_animate bs4FadeInDown bs4_duration_md bs4_easeOutQuint bs4_size_sldr_cmrce"
        role="dialog" data-modal-backdrop="true" data-show-on="click" data-modal-delay="false"
        data-modal-duration="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Close Button Link -->
            <a class="bs4_btn_x_out_shtr bs4_sldr_cmrce_close" href="#" data-dismiss="modal">close</a>

            <div class="row">
                <div class="col-12 col-md-5">
                    <section class="getintouch">
                        <div class="container text-center modern-form">
                            <div class="text-center">
                                <h4 style="color: #212529;font-size: 45px;">Your suggestion counts!</h4>
                            </div>
                            <hr class="modern-form__hr">
                            <h5 class="mt-4" style="color: #212529;">How can we improve this website?</h5>
                            <h5 class="mt-5" style="color: #212529;">What would you like to see on this website?</h5>
                            <h5 class="mt-5" style="color: #212529;">Having any problems downloading?</h5>
                        </div>
                    </section>
                </div>

                <div class="col-12 col-md-7">
                    <section class="getintouch">
                        <div class="container text-capitalize text-center modern-form">
                            <div class="text-center">
                                <h4 style="color: #212529;font-size: 45px;">Get in touch</h4>
                            </div>
                            <hr class="modern-form__hr">
                            <div class="modern-form__form-container">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col col-contact">
                                            <div class="form-group modern-form__form-group--padding-r">
                                                <input
                                                        class="form-control input input-tr" type="text"
                                                        placeholder="Name" name="name" required="" autofocus=""
                                                        autocomplete="on">
                                                <div class="line-box">
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-contact">
                                            <div class="form-group modern-form__form-group--padding-l">
                                                <input
                                                        class="form-control input input-tr" type="text"
                                                        placeholder="Email" name="email" required="" autofocus=""
                                                        autocomplete="on">
                                                <div class="line-box">
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group modern-form__form-group--padding-t"><textarea
                                                        class="form-control input modern-form__form-control--textarea"
                                                        placeholder="Message" name="message" required=""></textarea>
                                                <div class="line-box">
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="submission" value="comment-form">

                                    <div class="form-row">
                                        <div class="col text-center">
                                            <button class="btn btn-primary submit-now" data-bs-hover-animate="pulse" type="submit">Submit Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
