<!-- Page Loader -->
<div class="page-loader page-loader-show">
    <h1 class="pulse animated infinite">Loading...  </h1>
    <div class="page-loader__spinner">
        <section id="spinner" class="spinner-parent"></section>
        <span class="spinner-border" role="status"></span>
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" strokeWidth="2" strokeMiterlimit="10" />
        </svg>
    </div>
</div>

<!-- Page Downloader -->
<div id="downloader-div" style="display: none">
    <div class="page-loader2 page-loader-show2">
        <h1 class="pulse animated infinite">Converting...  </h1>
        <div class="page-loader__spinner2">
            <section id="spinner2" class="spinner-parent2"></section>
            <span class="spinner-border" role="status"></span>
            <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" fill="none" strokeWidth="2" strokeMiterlimit="10" />
            </svg>
        </div>
    </div>
</div>